#tooltip1{
    position: relative;
    color: #66CCFF;
}
.tooltip-inner {
    background: #66CCFF;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #66CCFF;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #66CCFF;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #66CCFF;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #66CCFF;
}


#tooltip2{
    position: relative;
    color: #66CCFF;
}
.tooltip-inner {
    background: #66CCFF;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #66CCFF;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #66CCFF;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #66CCFF;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #66CCFF;
}

#tooltip3{
    position: relative;
    color: #66CCFF;
}
.tooltip-inner {
    background: #66CCFF;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #66CCFF;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #66CCFF;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #66CCFF;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #66CCFF;
}

#tooltip4{
    position: relative;
    color: #66CCFF;
}
.tooltip-inner {
    background: #66CCFF;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #66CCFF;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #66CCFF;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #66CCFF;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #66CCFF;
}