{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{super()}}

    <script type="text/javascript" async
             src="http://127.0.0.1:5000/static/mathjax/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
<style type="text/css">
    .question-correct:after {
        content: "✓";
        font-size: 30px;
        color: green;
        padding-left: 10px;
    }

    .question-incorrect:after {
        content: "✗";
        font-size: 30px;
        color: red;
        padding-left: 10px;
    }
</style>

{% endblock %}
{% block content %}
<div>
        <div class="container text-center">
            <div>
                <h4 class="text-primary" id="header"><strong> {{current_user.name}}, your score: {{correct}} / {{total}}</strong></h4>
            </div>
        </div>
    </div>
    {% for question, choice in question_answer %}
    <div id="prob">             
        <div class="container">
            {% if choice[1] %} 
            <h5 class="question-correct text-primary" > Problem {{loop.index}}:</h5> 
            {% else %}
            <h5 class="question-incorrect text-primary" > Problem {{loop.index}}:</h5>
            {% endif %} 

            <p class="text-justify">  {{question['text']|safe}}<br></p>
        </div>

        <div class="container">
            {% if question.image %}
                {% if question.image.startswith('http://') %}
                    <img src="{{ question.image }}">
                {% else %}
                    <div class="text-center"><img src="{{ url_for('static', filename='img/' + question.image) }}" width="250"></div>
                {% endif %}

            {% endif %}


            <div class="text-left">
                <ul>
                {% for answer in question['options'] %}
                       <li {% if answer[1] %} class="question-correct" {% elif not answer[1] %} class="question-incorrect" {% endif %}>
                            {{answer[0]|safe}} {% if answer == choice %} - <strong> Chosen </strong> {% endif %}
                       </li>
                    
                {% endfor %}
                </ul>
                
            </div>

         <div class="text-center">
             <h5 class="text-left text-primary">Solution:</h5>
             <p class="text-justify">{{ question['answer']|safe }}</p>
         </div>
        {% if question.image_sol %}
                {% if question.image_sol.startswith('http://') %}
                    <img src="{{ question.image_sol }}">
                {% else %}
                    <div class="text-center"><img src="{{ url_for('static', filename='img/' + question.image_sol) }}" width="250"></div>
                {% endif %}

            {% endif %}


        </div>
    </div>
    {% endfor %}
    
{% endblock %}
