<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Index{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/css/styles.min.css') }}">
    {% endblock %}
</head>

<body>
    <div class="container">
        
        <nav class="navbar navbar-dark navbar-expand-md bg-primary">
            <div class="container-fluid"><a class="navbar-brand" href="#">Clicker</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        {% if current_user.is_authenticated and current_user.admin %}
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="{{url_for('admin_test.command_console')}}">Admin</a></li>
                        {% endif %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('main.index')}}">Home</a></li>
                        {% if not current_user.is_authenticated %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('auth.login')}}">Login</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('auth.register')}}">Sign up</a></li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{url_for('auth.logout')}}">Log out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
           
        </nav>
    </div>
    {% block content %}{% endblock %}

    
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    

</body>

</html>