{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}
<div id="contjumbo">
        <div class="container">
            <div class="jumbotron" id="jumbotron">
                <h1>Welcome to Clicker</h1>
                <p>Clicker is an environmentally-friendly tool that eliminates the excessive use of paper when taking quizzes and tests.</p>
                    <p>You must be signed up and logged in to start using this application.</p>

            </div>
        </div>
    </div>
{% endblock %}

