{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{super()}}
    <script type="text/javascript" async
             src="http://127.0.0.1:5000/static/mathjax/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
{% endblock %}
{% block content %}
<div class="container">
        <div id="header">
            <h4 class="text-center text-primary"><strong>{{ "Activity"|cap }}</strong></h4>
        </div>
        <form method="POST" action="{{ url_for('admin_test.check_test',id=id) }}" >
            <div class="form-group"><input class="form-control" type="hidden" name="ord" value="{{quiz_ordering}}"></div>
            {% for question in quiz %}
            {% set outer_loop = loop %}
            <div class="form-group">
                <div id="prob">
                    <div class="container">
                        <h5 class="text-primary"><strong>Problem {{loop.index}}</strong></h5>
                        <p class="text-justify">{{question['text']|safe}}<br></p>
                    </div>
                    <div class="container">

                            {% if question.image %}
                            {% if question.image.startswith('http://') %}
                                <img src="{{ question.image }}">
                            {% else %}
                            <div class="text-center"><img src="{{ url_for('static', filename='img/' + question.image) }}" width="250"></div>
                            {% endif %}
                        {% endif %}
                        

                        <div class="text-left" id="prob">
                            <div>
                                <fieldset>
                                    {% for answer in question['options'] %}
                                    <div class="form-check">
                                            <label class="form-check-label" for="radio1">
                                              <input type="radio" class="form-check-input"  name="{{outer_loop.index0}}" value="{{loop.index0}}">{{answer[0]|safe}}
                                            </label>
                                    </div>
                                   {% endfor %}
                                    
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
 
            <div class="form-group">
                <div class="text-right"><button class="btn btn-primary" type="submit">Submit</button></div>
            </div>
        </form>
    </div>
{% endblock %}
